<footer class="bg-dark text-white py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Contact Us</h3>
        <p>If you have any questions or comments, feel free to reach out to us!</p>

      </div>
      <div class="col-md-6">
        <h3>Company Name</h3>
        <p>&copy; 2023 Company Name. All rights reserved.</p>
        <p>123 Main Street, Anytown USA 12345</p>
        <p>Email: info@companyname.com</p>
      </div>
    </div>
  </div>
</footer>


<script>
    $(document).ready(function() {
        let $footer = $('footer');
        let windowHeight = $(window).height();
        let bodyHeight = document.body.scrollHeight;

        if (bodyHeight < windowHeight) {
            $footer.css({
                'position': 'fixed',
                'bottom': '0',
                'width': '100%'
            });
        }
    });
</script>
