<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= order.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= order.email %></h6>
    <p class="card-text">Phone: <%= order.phone %></p>
    <p class="card-text">Product: <%= order.product_id %></p>
  </div>
</div>
