/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.ribbon {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon span {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    display: block;
    position: absolute;
    width: 100px;
    left: -15px;
    top: 20px;
    background-color: #ff6b6b;
    background-image: linear-gradient(-45deg, #ff6b6b 0%, #ee6a7b 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}

.image-gallery .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    transition: transform .3s ease-in-out;
}

.image-gallery .row > div {
    flex: 0 0 auto;
    margin: 0 10px;
    height: 100%;
    width: 400px;
    transition: transform .3s ease-in-out;
}

.image-gallery .row > div:first-child {
    margin-left: 0;
}

.image-gallery .row > div:last-child {
    margin-right: 0;
}

.image-gallery .row > div:hover {
    transform: scale(1.1);
}

.image-gallery .row > div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    transition: transform .3s ease-in-out;
}

.image-gallery .row > div:hover img {
    transform: scale(1.2);
}
